<section id="services" class="full-height px-lg-5 mt-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">SERVICES</h6>
                <h1>Services That I Provide</h1>
            </div>
        </div>

        <div class="row gy-4">


            <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-laptop-code"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Web Development</h5>
                    <p>I am a seasoned web development professional, dedicated to crafting innovative and
                        bespoke web solutions. With expertise in HTML, CSS, JavaScript, and cutting-edge
                        frameworks, I create responsive and dynamic websites that elevate brand presence and
                        ensure seamless user experiences. My commitment to precision, security, and
                        accessibility guarantees timely delivery and unparalleled craftsmanship, making me the
                        ideal partner to revolutionize your digital realm.</p>
                    <!-- <a href="#" class="link-custom">Read More</a> -->
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-feather"></i>
                    </div>
                    <h5 class="mt-4 mb-2">UX Design</h5>
                    <p>I am a dedicated UX design specialist, combining creativity, empathy, and data insights
                        to craft intuitive and aesthetically pleasing interfaces. Through user-centric design
                        principles, I optimize the user journey, foster innovation, and forge lasting brand
                        connections. Embracing emerging trends, I ensure each project reflects modernity and
                        exceptional user experiences that drive success in the digital landscape.</p>
                    <!-- <a href="#" class="link-custom">Read More</a> -->
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-pencil-ruler"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Branding</h5>
                    <p>As a skilled branding strategist, I create compelling brand identities that deeply
                        connect with audiences through storytelling and market research. I design cohesive
                        visual elements and develop comprehensive brand guidelines to guide consistent messaging
                        and positioning. With a focus on innovation and excellence, I help brands leave a
                        lasting impact in the dynamic digital landscape.</p>
                    <!-- <a href="#" class="link-custom">Read More</a> -->
                </div>
            </div>



        </div>

    </div>
</section>
